@import "../index.scss";

@mixin paragraph {
  p {
    width: 15%;
  }
  p:first-child {
    width: 5%;
  }
  p:last-child {
    text-align: center;
  }
}

.coinsContainer {
  @include flexColumn;
  align-items: center;
  width: 450px;
  height: 70%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  background-color: transparent;

  h1 {
    text-align: center;
  }

  span {
    margin-bottom: 10px;
  }
  .coinsHeader {
    width: 100%;
    display: flex;
    gap: 20px;
    @include alignItemsjustifyContent;
    @include paragraph;

    .icon {
      cursor: pointer;
    }
  }

  .coinsTable {
    width: 100%;
    overflow-y: scroll;

    .cryptoRow {
      width: 100%;
      display: flex;
      gap: 20px;
      @include alignItemsjustifyContent;

      @include paragraph;
    }
  }
}

.imgTd {
  @include flexColumn;

  img {
    width: 30px;
    height: 30px;
  }
}

.coinsTable::-webkit-scrollbar {
  width: 0px;
}
.coinsContainer {
  transition: transform 1s ease;
}

.watchlistOpen {
  transform: rotateY(180deg);
}
span {
  cursor: pointer;
}

@media (max-width: 767px) {
  .coinsContainer {
    width: 85%;

    .coinsHeader {
      p {
        font-size: 10px;
        text-align: start;
      }
    }
    .coinsTable {
      font-size: 10px;
      text-align: start;
    }
  }

  .imgTd {
    @include flexColumn;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
